In [1]:
import pandas as pd
hour = pd.read_csv('hour.csv')
print(hour.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  count
0           1  0.24  0.2879  0.81        0.0       3          13     16
1           1  0.22  0.2727  0.80        0.0       8          32     40
2           1  0.22  0.2727  0.80        0.0       5          27     32
3           1  0.24  0.2879  0.75        0.0       3          10     13
4           1  0.24  0.2879  0.75        0.0       0           1      1

In [4]:
print(hour['count'])

0         16
1         40
2         32
3         13
4          1
        ...
17374    119
17375     89
17376     90
17377     61
17378     49
Name: count, Length: 17379, dtype: int64

In [3]:
print(hour['count'].mean())

189.46308763450142

In [5]:
print(hour['count'].median())

142.0

In [6]:
print(hour['count'].std())

181.38759909186473

In [8]:
print(hour['registered'].min())

0

In [9]:
print(hour['registered'].max())

886

In [10]:
hour.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [11]:
hour.loc[3, 'count']

np.int64(13)

In [12]:
hour.loc[2:4, 'registered']

2    27
3    10
4     1
Name: registered, dtype: int64

In [13]:
# hour['hr']<5, meaning that it will select every row in 
# our data for which the value of the hr variable is less than 5
hour.loc[hour['hr'] < 5, 'registered'].mean()

np.float64(20.7881427367238)

In [17]:
"""
Filters and retrieves rows from the 'count' column in the 'hour' DataFrame 
where specific conditions on 'hr' and 'temp' columns are met.

Detailed Explanation:

- `hour['hr'] < 5`: Selects rows in the 'hour' DataFrame where the 'hr' column has values less than 5.
- `hour['temp'] < .50`: Selects rows where the 'temp' column has values less than 0.50.
- `(hour['hr'] < 5) & (hour['temp'] < .50)`: Combines both conditions using the `&` operator, 
    meaning only rows where both 
    conditions are true will be selected.
- `.loc[<condition>, 'count']`: Applies the combined condition to filter and return values 
    from the 'count' column only where both conditions hold true.

Summary:
This function effectively locates all rows in the 'hour' DataFrame where the 'hr' value is 
less than 5 and the 'temp' value is below 0.50, then retrieves the values in the 'count' 
column for these rows, which can be used for further analysis or updates.

Parameters:
- hour (DataFrame): The DataFrame containing 'hr', 'temp', and 'count' columns.

Returns:
- Series: A Series containing the filtered 'count' values where the specified conditions are met.
"""
low_hr_and_temp = (hour['hr'] < 5) & (hour['temp'] < 0.50)
hour_count_filtered = hour.loc[low_hr_and_temp, 'count']
hour_count_filtered

0        16
1        40
2        32
3        13
4         1
         ..
17355    34
17356    19
17357    11
17358     1
17359     3
Name: count, Length: 1919, dtype: int64

In [18]:
hour.loc[(hour['hr'] < 5) & (hour['temp'] > .50),'count'].mean()

np.float64(33.639322916666664)

In [19]:
hour.loc[(hour['hr'] < 5) & (hour['temp'] < .50), 'count'].mean()

np.float64(19.521104742053154)

In [20]:
hour.loc[(hour['temp']>0.5) | (hour['hum']>0.5),'count'].mean()

np.float64(193.36764103264582)